.container-player {
   position: fixed;
   bottom: 0;

   .player-buttons {
      i {
         color: #fff;
         transition: all 0.3s;
      }
   }

   .player-container-right,
   .player-container-left,
   .player-buttons {
      i:hover {
         color: #fff !important;
      }
   }
}

.fs-7 {
   font-size: 0.7rem;
}

.player-container-left {
   a:hover {
      text-decoration: underline !important;
   }

   .contributors {
      a:hover {
         color: #fff !important;
      }
   }
}

.sliderRange {
   accent-color: #fff;

   &:hover {
      accent-color: #1db954;
   }
}

.pop-up {
   background-color: #000000;
   opacity: 0.97;
   height: 100vh;
   width: 100vw;
   position: fixed;
   top: 0;

   #close-btn_ {
      color: #fff;
   }
}

footer,
.progress {
   background-color: #000;
}
